@font-face { font-family: NeutraDemi; src: url('NeutraDemi.ttf'); } 
@font-face { font-family: Georgia; src: url('Georgia.ttf'); } 


#product-show {
	margin-top: 8em;
}

#show-img {
	height: 18em;
	float: right;
	margin-top: 4em;
}

.product-info {
	text-align: left;
	position: relative;
	list-style-type: 1.7em;
	width: 45%
}

.product-info h2 {
	color: #93866d;
	font-family: NeutraDemi;
	font-weight: bold;

}

.product-info h3 {
	font-size: 1.6em;
	margin-top: -.2em;
	font-family: NeutraDemi;
}

.product-info p {
	color: #333;
	font-family: 'Playfair Display', serif;
	/*font-family: Georgia, Times New Roman;*/
	font-weight: 500;
}

.weight-dim {
	margin-bottom: 1em;

}

.weight-dim p {
	font-size: .8em;
	color: #333;
	font-family: 'Playfair Display', serif;
	/*font-family: Georgia, Times New Roman;*/
	font-weight: 500;
	line-height: .7;
}

#features {
	float: left;
	margin-bottom: 4em;
	text-align: left;
	margin-top: 2em;
	margin-left: -5.6em;
	color: #333;
	line-height: .7;
	font-family: 'Playfair Display', serif;
	/*font-family: Georgia, Times New Roman;*/
	font-weight: 300;
}

#features h3 {
	position: relative;
	color: #93866d;
	font-family: NeutraDemi;
	font-weight: bold;
	margin-left: -.7em;
}

#features li {
	font-size: .85em;
	position: relative;
	right: 3.2em;
}

select {
	float: left;
	background: white;

}

#to-cart-but {
	border: 2px solid #06BA6A;
	clear: both;
	float: left;
	background-color: transparent;
	color: #06BA6A;
	transition: .2s;
}

#to-cart-but:hover {
	background-color: #06BA6A;
	color: white;
}