.search-area {
	margin-top: 8em;
}

.portfolio-item {
	margin-top: 8em;
}

.thumbnail {
	border: none;
}

.thumbnail img {
	/*border-bottom: 1px solid rgb(1, 176, 111);*/
	padding-bottom: 7px;
}

.portfolio-item h3,p  {
	color: grey;
}

.portfolio-item h3 {
	font-size: 1.2em;
	margin-top: 1em;
}

.portfolio-item p {
	margin-top: -.8em;
	margin-bottom: 4em;
	color: black;
}

.portfolio-item p a:hover {
	text-decoration: none !important;	
}
select {
	background-color: red;
}

